/* Estilos para los enlaces (a) */
a {
  font-weight: 500; /* Peso de la fuente para los enlaces */
  color: #646cff; /* Color del texto del enlace */
  text-decoration: inherit; /* Hereda la decoración del texto */
}

/* Estilo para los enlaces al pasar el cursor sobre ellos */
a:hover {
  color: #535bf2; /* Cambia el color del enlace al pasar el mouse */
}

/* Estilos para el cuerpo del documento */
body {
  margin: 0; /* Elimina el margen por defecto del body */
  display: flex; /* Usa flexbox para el diseño */
  place-items: center; /* Centra los elementos en ambos ejes */
  min-width: 320px; /* Ancho mínimo del viewport */
  min-height: 100vh; /* Altura mínima del viewport */
}

/* Estilos para los encabezados h1 */
h1 {
  font-size: 3.2em; /* Tamaño de la fuente del h1 */
  line-height: 1.1; /* Altura de línea del h1 */
}

/* Estilos para los botones */
button {
  border-radius: 8px; /* Bordes redondeados */
  border: 1px solid transparent; /* Borde inicial transparente */
  padding: 0.6em 1.2em; /* Espaciado interno del botón */
  font-size: 1em; /* Tamaño de la fuente del botón */
  font-weight: 500; /* Peso de la fuente para el botón */
  font-family: inherit; /* Hereda la fuente del elemento padre */
  background-color: #1a1a1a; /* Color de fondo del botón */
  cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
  transition: border-color 0.25s; /* Transición suave para el color del borde */
}

/* Estilo para el botón al pasar el cursor sobre él */
button:hover {
  border-color: #646cff; /* Cambia el color del borde al pasar el mouse */
}

/* Estilo para el botón al recibir foco */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; /* Agrega un contorno al botón al recibir foco */
}

/* Estilos específicos para el esquema de color claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547; /* Color del texto en modo claro */
    background-color: #ffffff; /* Color de fondo en modo claro */
  }
  a:hover {
    color: #747bff; /* Cambia el color del enlace en modo claro al pasar el mouse */
  }
  button {
    background-color: #f9f9f9; /* Cambia el color de fondo del botón en modo claro */
  }
}
